* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
  background-color: whitesmoke;
  width: 100%;
  height: 860px;
  display: flex;
  justify-content: center;
}

.container1 {
  max-width: 1100px;
  height: 1500px;
}

.header-box {
  max-width: 1100px;
  height: 88px;
  display: flex;
  align-items: center;
}

.header-left {
  width: 67.45%;
  height: 39px;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.header-left:hover {
  cursor: pointer;
}

.header-right {
  width: 32.55%;
  height: 50px;
  display: flex;
  justify-content: end;
  gap: 35px;
}

.header-right:hover {
  cursor: pointer;
}

.header-text {
  padding: 0px 15px 10px 15px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  top: 20px;
  min-width: 480px;
  min-height: 300px;
  z-index: 1;
  flex-wrap: wrap;
  padding: 20px 10px;
  transition: linear 2s;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  width: 150px;
  height: 20px;
}
.dropdown-content-GOGO {
  display: none;
  position: absolute;
  background-color: white;
  top: 20px;
  width: 350px;
  height: 250px;
  z-index: 1;
  flex-wrap: wrap;
  padding: 20px 10px;
  transition: linear 2s;
}
.dropdown-content-GOGO a {
  color: black;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  width: 150px;
  height: 20px;
}
.dropdown-content-GOGO a:hover {
  color: #407ce8;
  transform: translateX(10px);
}

.header-text:hover .dropdown-content-GOGO {
  display: flex;
}
.dropdown-content-watch {
  display: none;
  position: absolute;
  background-color: white;
  top: 20px;
  width: 200px;
  height: 150px;
  z-index: 1;
  flex-wrap: wrap;
  padding: 20px 10px;
  transition: linear 2s;
}
.dropdown-content-watch a {
  color: black;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  width: 150px;
  height: 20px;
}
.dropdown-content-watch a:hover {
  color: #407ce8;
  transform: translateX(10px);
}

.header-text:hover .dropdown-content-watch {
  display: flex;
}
.dropdown-dot {
  width: 5px;
  height: 5px;
  background-color: #407ce8;
  border-radius: 100%;
  margin: 0px 5px 0px 0px;
}
.dropdown-content a:hover {
  color: #407ce8;
  transform: translateX(10px);
}

.header-text:hover .dropdown-content {
  display: flex;
}
.dropdown-content-lifestyle {
  display: none;
  position: absolute;
  background-color: white;
  top: 20px;
  width: 350px;
  height: 200px;
  z-index: 1;
  flex-wrap: wrap;
  padding: 20px 10px;
  transition: linear 2s;
}
.dropdown-content-lifestyle a {
  color: black;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  width: 150px;
  height: 20px;
}
.dropdown-content-lifestyle a:hover {
  color: #407ce8;
  transform: translateX(10px);
}
.header-text:active .dropdown-content-lifestyle {
  display: flex;
}
.search-input {
  width: 100%;
  height: 50px;
  position: absolute;
  display: none;
  top: 25px;
  z-index: 1;
  left: 430px;
  color: #888;
}

.search-input-f {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #407ce8;
}
.search-input-f {
  font-size: 16px;
}
.search:hover .search-input {
  display: flex;
}
.search:hover {
  cursor: pointer;
}
.downarrow {
  width: 10.5px;
  height: 13px;
}

.logo {
  width: 15.81%;
  height: 38, 9px;
  padding: 0px 9px 0px 0px;
}

.searchicon {
  width: 15px;
  height: 25px;
  padding-bottom: 10px;
}

.nav-p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.number {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.nav {
  display: flex;
  width: 54px;
  height: 35px;
  margin: 5px 0px 0px;
  align-items: center;
}

.textgreen {
  color: green;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.nav-img {
  width: 20px;
  height: 20px;
}

.search {
  width: 4.54%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.search:hover {
  cursor: pointer;
}

.searchbutton {
  border-color: transparent;
  background-color: whitesmoke;
}

.section1-box1 {
  max-width: 1100px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}

.section1-box1-left {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: rgb(234, 234, 234);
  padding: 50px 30px 50px 40px;
}

.section1-box1-left:hover {
  cursor: pointer;
}

.section1-box1-right {
  border-color: transparent;
  border-radius: 15px;
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
  transition: transform 1s;
}

.section1-box1-right-hidden {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(33, 33, 33, 0.5);
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.section1-box1-right:hover .section1-box1-right-hidden {
  visibility: visible;
  cursor: pointer;
}

.box1-hidden-text {
  font-size: 16px;
  color: white;
}

.section1-box1-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.section1-box1-right img {
  transition: all 1s;
}

.section1-box1-right:hover img {
  transform: scale(1.1);
}

.section1-box1-content {
  width: 100%;
  height: 74%;
}

.section1-box1-button {
  width: 14.27%;
  height: 10.52%;
  background-color: orange;
  border-color: transparent;
  border-radius: 50px;
}

.section1-button-text {
  padding: 5px;
  color: white;
}

.section1-box1-title {
  margin: 10px 0px 20px;
  padding: 10px 30px 0px 0px;
}

.section1-box1-text {
  margin: 10px 0px 20px;
  color: darkgray;
}

.section1-share-icon {
  width: 16px;
  height: 16px;
}

.section1-share-button {
  width: 60px;
  height: 30px;
  display: flex;
  border-radius: 50px;
  border-color: transparent;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.section1-share-reaction {
  height: 36px;
  width: 385px;
  margin-top: 30px;
}

.section1-share-button-number {
  font-size: 16px;
  margin-left: 10px;
  color: #767676;
}

.section1-box2 {
  max-width: 1100px;
  height: 333px;
  margin: 30px 0px 0px;
  padding: 0px 0px 50px;
  display: flex;
  gap: 16px;
}

.section1-bottom {
  width: 23.9%;
  height: 100%;
  border-radius: 15px;
  border-color: transparent;
  background-color: transparent;
}

.section1-bottom:hover {
  cursor: pointer;
}

.section1-bottom-text {
  font-size: 14px;
  margin: 10px 0px 0px;
  line-height: 22px;
  text-align: left;
}

.section1-bottom-img-container {
  width: 100%;
  height: 61.87%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.section1-box2-bottom-hidden {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.5);
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  z-index: 1;
}

.section1-box2-bottom-hidden-text {
  font-size: 16px;
  color: white;
}

.hover-effect-fade-in:hover .section1-box2-bottom-hidden {
  visibility: visible;
}

.hover-effect-fade-in img {
  transition: all 1s;
}

.hover-effect-fade-in:hover img {
  transform: scale(1.1);
}

.section1-bottom-img {
  width: 100%;
  height: 175px;
  border-radius: 15px;
  transition: transform 1s;
}

.section1-bottom-img:hover {
  transform: scale(1.1);
}

.section1-bottom-share-button {
  width: 31px;
  height: 22px;
  display: flex;
  border-radius: 50px;
  border-color: transparent;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.section1-bottom-reaction {
  width: 100%;
  height: 22px;
  margin: 10px 0px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section1-bottom-share-icon {
  width: 13px;
  height: 13px;
}

.section1-bottom-comment-icon {
  width: 13px;
  height: 13px;
}

.section1-reaction-number {
  font-size: 13px;
  color: #767676;
}

.section1-ads {
  width: 23.9%;
  height: 270px;
  border-radius: 15px;
}

.section1-ads:hover {
  cursor: pointer;
}

.section1-ads-img {
  width: 100%;
  height: 270px;
  border-radius: 15px;
  border-radius: 15px;
}

.section2 {
  width: 100%;
  height: auto;
  margin: 40px 0px 0px;
  display: flex;
  justify-content: center;
}

.section2-container {
  max-width: 1100px;
  height: 280px;
}

.section2-title {
  width: auto;
  height: auto;
  display: block;
}

.story {
  font-size: 18px;
  padding: 2px 3px;
  background-color: #00b0f4;
  color: white;
  border-radius: 5px;
}

.section2-box {
  width: 100%;
  height: 270px;
  display: flex;
  margin: 23px 0px 0px;
  gap: 16px;
  overflow: scroll;
  position: relative;
}

.section2-box:hover {
  cursor: pointer;
}

.section2-content {
  width: 170px;
  height: 235px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}

.section2-img {
  width: 100%;
  height: 235px;
  border-radius: 15px;
  transition: transform 1s;
}

.section2-img:hover {
  transform: scale(1.2);
}

.section2-logo-box {
  width: 170px;
  height: 50px;
  padding: 10px;
  position: absolute;
}

.section2-logo {
  width: 30px;
  height: 30px;
}

.section2-bottom {
  width: 170px;
  height: 84px;
  position: absolute;
  margin-top: 151px;
  padding: 10px;
}

.section2-text {
  font-size: 13px;
  margin: 0px 0px 5px;
  color: white;
}

.section2-result {
  height: 22px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.section2-eye-icon {
  height: 13px;
  width: 13px;
}

.section2-result-number {
  font-size: 12px;
  color: #ffffff;
}

.section3 {
  width: 100%;
  height: 3200px;
}
.section3-container {
  width: 100%;
  height: 3200px;
  display: flex;
  justify-content: center;
  margin: 60px 0px 0px;
}

.section3-box1 {
  width: 720px;
  height: 3200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

.section3-header {
  width: 690px;
  height: 50px;
}

.section3-header-title {
  width: 104px;
  height: 26px;
  display: flex;
}

.section3-header-title-text {
  font-size: 16px;
  margin: 0px 0px 5px;
  color: #407ce8;
  margin: 0px 5px 0px 0px;
}

.section3-header-img {
  width: 23px;
  height: 26px;
}

.section3-calender-container {
  width: 690px;
  height: 22px;
  margin: 2px 0px 0px 0px;
  display: flex;
  gap: 5px;
}

.section3-calendar {
  width: 104px;
  height: 22px;
  border-color: transparent;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-items: center;
  background-color: transparent;
}

.section3-calendar:hover .section3-calendar-day .section3-calendar-text {
  cursor: pointer;
  background-color: #407ce8;
}

.section3-calendar-day {
  width: 100px;
  height: 7px;
  border: 50%;
  background-color: #b7b6b6;
  padding: 3px 0px;
  border-radius: 15px;
}

.section3-calendar-text {
  font-size: 12px;
  color: #b7b6b6;
  margin: 0px 16px;
}

.section3-calendar-selection {
  width: 27px;
  height: 27px;
  background-color: #b7b6b6;
  border-radius: 15%;
  border-color: transparent;
  margin-left: 9px;
}

.section3-calendar-selection:hover {
  background-color: #407ce8;
}

.section3-calendar-selection-text {
  color: #5c5c5c;
  margin: 0px 0px 5px 0px;
}

.section3-calendar-selection-text:hover {
  color: white;
}

.section3-box1-content {
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 15px;
}
.section3-box1-hidden-container {
  width: 210px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.section3-box1-hidden-container img {
  width: 210px;
  height: 150px;
  border-radius: 15px;
  transition: all 1s;
}

.section3-box1-hidden {
  width: 210px;
  height: 150px;
  border-radius: 15px;
  background-color: rgba(33, 33, 33, 0.5);
  position: absolute;
  z-index: 1;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.section3-box1-hidden-container:hover img {
  transform: scale(1.1);
}

.section3-box1-hidden-container:hover .section3-box1-hidden {
  visibility: visible;
  cursor: pointer;
}

.section3-box1-news {
  width: 450px;
  height: 150px;
  margin: 0px 0px 0px 30px;
}

.section3-box1-news-title {
  font-size: 19px;
  overflow: hidden;
  width: 100%;
  height: 52px;
  margin: 0px 0px 10px;
}

.section3-box1-news-text {
  font-size: 14px;
  color: #888;
  margin: 10px 0px 15px 0px;
  line-height: 1.5;
  height: 46px;
  overflow: hidden;
}

.section3-box1-news-reaction {
  width: 450px;
  height: 22px;
  display: flex;
  gap: 10px;
  margin: 35px 0px 0px;
}
.section3-box1-news-reaction img {
  width: 14px;
  height: 14px;
}

.section3-box1-news-reaction-share {
  width: 38px;
  height: 22px;
  display: flex;
  gap: 5px;
  margin: 0px 10px 0px 0px;
}

.section3-box1-news-reaction-share-icon-result {
  font-size: 14px;
  color: #888;
}

.section3-box1-news-reaction-comment {
  width: 38px;
  height: 22px;
  display: flex;
  gap: 5px;
  margin: 0px 10px 0px 0px;
}

.section3-box1-news-reaction-comment-icon {
  width: 14px;
  height: 14px;
}

.section3-box1-news-reaction-comment-result {
  font-size: 14px;
  color: #888;
}

.section3-box1-news-reaction-publish-time {
  width: 160px;
  height: 22px;
  display: flex;
  gap: 5px;
  margin: 0px 10px 0px 0px;
}

.section3-box1-news-reaction-publish-time-icon {
  width: 14px;
  height: 14px;
}

.section3-box1-news-reaction-publish-time-result {
  font-size: 14px;
  color: #888;
  display: flex;
  width: 150px;
}

.section3-box1-poll {
  width: 100%;
  height: 322px;
  background-color: #407ce8;
  padding: 20px;
}

.section3-box1-poll-container {
  display: flex;
  gap: 5px;
}

.section3-box1-poll-title {
  font-size: 16px;
  color: white;
  margin: 0px 0px 20px;
  line-height: 1.5;
}

.section3-box1-poll-choise-container {
  width: 650px;
  height: 53px;

  display: flex;
  justify-content: space-between;
  margin: 0px 0px 5px 0px;
}

.section3-box1-poll-choise {
  font-size: 15px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #00b0f4;
  width: 559px;
}

.section3-box1-poll-choise-result {
  font-size: 14px;
  margin-left: 50px;
  display: block;
  display: flex;
  align-items: center;
  gap: 5px;
}

.section3-box1-poll-choise-result-number {
  font-size: 14px;
  color: white;
}

.section3-box1-poll-choise-result-icon {
  width: 13px;
  height: 25px;
}

.section3-box1-poll-result {
  width: 650px;
  height: 22px;
  font-size: 14px;
  color: white;
  text-align: left;
  margin: 15px 0px 0px;
}
.section3-next-button {
  width: 100%;
  height: 50px;
  border: none;
}
.section3-next-button:hover {
  cursor: pointer;
  color: #407ce8;
  background-color: white;
}

.section3-box2 {
  width: 37s0px;
  height: 3200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-color: white white white #888;
  border-style: solid;
}
.section3-box2-top-container {
  width: 330px;
  height: 1250px;
  padding: 40px 0px 0px 40px;
}
.section3-box2-top-container-header {
  font-size: 10px;
  display: flex;
  gap: 10px;
}
.section3-box2-top-container-header img {
  width: 25px;
  height: 30px;
}
.section3-box2-top-content {
  margin: 20px 0px 0px;
}

.section3-box2-top-content img {
  width: 100%;
  height: 170px;
  border-radius: 15px;
  margin: 0px 0px 10px 0px;
}
.section3-box2-top-reaction {
  display: flex;
  gap: 5px;
  margin: 10px 0px 0px;
}

.section3-box2-top-reaction img {
  width: 15px;
  height: 15px;
  font-size: 12px;
}
.section3-box2-top-reaction p {
  font-size: 12px;
  color: #888;
}
.section3-box2-top-content-hidden {
  height: 170px;
  width: 290px;
  background-color: rgba(33, 33, 33, 0.5);
  position: absolute;
  visibility: hidden;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section3-box2-top-content:hover .section3-box2-top-content-hidden {
  visibility: visible;
}
.section3-box2-bottom-container {
  width: 350px;
  height: 1150px;
  background-color: rgb(255, 248, 249);
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.section3-box2-bottom-header {
  display: flex;
  gap: 10px;
  margin: 0px 0px 20px 0px;
}
.section3-box2-bottom-container img {
  width: 22px;
  height: 26px;
}
.section3-box2-bottom-container h2 {
  font-size: 20px;
}
.section3-box2-bottom-content {
  height: 10px 0px;
  display: flex;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  transition: ease 1s;
}
.section3-box2-bottom-content img {
  width: 13px;
  height: 13px;
}
.section3-box2-bottom-content h1 {
  font-size: 44px;
  color: #e00034;
  margin: 0px 10px 0px 0px;
}
.section3-box2-bottom-content:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.section3-box2-bottom-text p {
  font-size: 14px;
}
.section3-box2-top-reaction p {
  font-size: 12px;
}
.section4 {
  width: 100%;
  height: 700px;
  margin: 100px 0px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section4-header {
  width: 18.18%;
  height: 50px;
  padding: 10px 0px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin: 0px 0px 0px -900px;
}
.section4-header h2 {
  font-size: 20px;
  padding: 0px 0px 2px 0px;
}
.section4-container {
  max-width: 1100px;
  height: 600px;
  display: flex;
}
.section4-left {
  width: 50%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 15px;
}
.section4-left-img {
  width: 100%;
  height: 550px;
  transition: 1s;
  overflow: hidden;
  border-radius: 15px;
  object-fit: contain;
}
.section4-left-text {
  width: 550px;
  height: 180px;
  padding: 30px;
  position: absolute;
}
.section4-left-text-title {
  background-color: #407ce8;
  color: white;
  font-size: 10px;
  width: 105px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0px 0px 10px;
}
.section4-left-text h3 {
  color: white;
  font-size: 20px;
}
.section4-left-text-continue {
  width: 100%;
  height: 30px;
  font-size: 10px;
  margin: 10px 0px 0px;
  padding: 10px 0px 0px;
  color: white;
  border-top-color: rgba(255, 255, 255, 0.15);
  border-top-style: solid;
  border-top-width: 1px;
}
.section4-left-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.section4-left:hover .section4-left-text {
  opacity: 0.7;
  cursor: pointer;
}
.section4-right {
  border-radius: 15px;
  width: 50%;
  height: 550px;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section4-right-content {
  width: 46.36%;
  height: 265px;
  background-color: #00b0f4;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  object-fit: cover;
}
.section4-right-content-text {
  width: 255px;
  height: 120px;
  padding: 20px;
  position: absolute;
}
.section4-right-content-title {
  width: 76px;
  height: 20px;
  font-size: 10px;
  background-color: #00b0f4;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 0px 0px 10px;
}
.section4-right-content-text p {
  font-size: 12px;
  overflow: hidden;
  color: white;
}
.section4-right-content-img {
  overflow: hidden;
  width: 100%;
  height: 265px;
  transition: all 1s;
}
.section4-right-content-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section4-left-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section4-right-content-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.section4-right-content:hover .section4-right-content-title {
  opacity: 0.8;
}
.section4-right-content-text:hover {
  cursor: pointer;
}
.section5 {
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section5-container {
  max-width: 1100px;
  height: 100%;
  display: flex;
  gap: 20px;
  overflow: scroll;
}
.section5-header {
  width: 200px;
  height: 30px;
  display: flex;
  gap: 10px;
  margin: 0px 0px 0px -900px;
}
.section5-header h1 {
  font-size: 26px;
}
.section5-header div {
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  background-color: #407ce8;
  border-radius: 5px;
}
.section5-content {
  width: 265px;
  height: 360px;
  border-radius: 10px 0px 0px;
  margin: 30px 0px 0px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
}
.section5-content-img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  transition: ease-in 5s;
}
.section5-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section5-content-text-container {
  width: 100%;
  height: 130px;
  padding: 20px 10px;
  border-color: #888;
  border-style: 1px solid;
}
.section5-content-reaction p {
  font-size: 14px;
  color: #888;
}
.section5-content-reaction img {
  width: 14px;
  height: 14px;
}
.section5-content-text-container div {
  font-size: 16px;
}
.section5-content-reaction {
  display: flex;
  gap: 10px;
  margin: 10px 0px 0px;
}
.section5-content-text {
  height: 54px;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
}
.section5-content-hidden {
  width: 265px;
  height: 230px;
  visibility: hidden;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(33, 33, 33, 0.5);
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0px 0px 200px;
  z-index: 1;
}
.section5-content-img img {
  transition: all 1s;
}
.section5-content-img:hover img {
  transform: scale(1.1);
}

.section5-content-img:hover .section5-content-hidden {
  visibility: visible;
  cursor: pointer;
}
.section6 {
  width: 100%;
  height: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0px 0px;
  flex-direction: column;
}
.section6-header {
  height: 25px;
  display: flex;
  margin: 0px 0px 20px;
  gap: 10px;
  width: 200px;
  margin: 0px 0px 20px -900px;
}
.section6-header h1 {
  font-size: 20px;
}
.section6-container {
  max-width: 1100px;
  height: 320px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  overflow: scroll;
}
.section6-content {
  width: 265px;
  height: 400;
  border-radius: 10px;
  transition: all 1s;
  flex-shrink: 0;
  position: relative;
}

.section6-content-img {
  width: 265px;
  height: 170px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 1s;
}
.section6-content-img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.section6-content-text-container {
  width: 100%;
  height: 130px;
  padding: 20px 10px;
  border: 1px solid;
  border-color: white #e7e7e7 #e7e7e7 #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0px 0px 10px 10px;
}
.section6-content-hidden {
  width: 265px;
  height: 170px;
  border-radius: 10px;
  background-color: rgba(33, 33, 33, 0.5);
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.section6-content-img:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
.section6-content-img:hover .section6-content-hidden {
  visibility: visible;
  cursor: pointer;
}
.section6-content-text {
  height: 72;
  overflow: hidden;
  font-size: 16px;
}
.section6-content-reaction {
  display: flex;
  gap: 10px;
  color: #888;
}
.section6-content-text {
  height: 72px;
  overflow: hidden;
}
.section7 {
  width: 100%;
  height: 410px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0px 0px;
}
.section7-container {
  max-width: 1100px;
  height: 400px;
  display: flex;
  gap: 20px;
  overflow: scroll;
}
.section7-header {
  display: flex;
  font-size: 20px;
  margin: 0px 0px 20px -1000px;
  gap: 10px;
}
.section7-content {
  width: 540px;
  height: 335px;
  display: flex;
  gap: 0px 20px 0px 0px;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.section7-content-img {
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.section7-content-img img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.section7-content-hidden {
  width: 540px;
  height: 201px;
  font-size: 16px;
  color: white;
  position: absolute;
  background-color: rgba(33, 33, 33, 0.5);
  visibility: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section7-content-img:hover img {
  transform: scale(1.1);
}
.section7-content-img:hover .section7-content-hidden {
  visibility: visible;
}
.section7-content-text-container {
  width: 100%;
  height: 40%;
  padding: 20px 10px;
}
.section7-content-text-container {
  border: 1px solid;
  border-color: #e7e7e7;
  border-radius: 0px 0px 10px 10px;
}
.section7-content-text {
  font-size: 18px;
  height: 60px;
}
.section7-content-text {
  height: 50px;
  overflow: hidden;
}
.section7-content-reaction {
  width: 100%;
  height: 20px;
  color: #888;
  display: flex;
  gap: 10px;
  margin: 30px 0px 0px;
  align-items: center;
}
.section7-content-reaction p {
  font-size: 14px;
}

.section7-content-reaction img {
  height: 12px;
}
.section8 {
  width: 100%;
  height: auto;
  background-color: #1a1a1a;
  margin: 100px 0px 0px;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}
.section8-container {
  max-width: 1100px;
  height: auto;
}
.section8-header {
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
  color: white;
}
.section8-content-container {
  width: 100%;
  height: auto;
  margin: 20px 0px 0px;
  flex-wrap: wrap;
  display: flex;
  gap: 70px 20px;
}
.section8-content {
  width: 260px;
  height: 275px;
}
.section8-content-img-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 10px;
}
.section8-content-img {
  width: 100%;
  height: 100%;
  transition: 1s;
  border-radius: 10px;
  overflow: hidden;
}

.section8-content-text-container {
  width: 100%;
  height: 40%;
  padding: 10px 0px 0px;
}
.section8-content-hidden {
  width: 260px;
  height: 165px;
  background-color: rgba(33, 33, 33, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  border-radius: 10px;
}
.section8-content-top-icon {
  position: absolute;
  margin: 0px 0px 0px -260px;
  border-radius: 10px 0px 0px 0px;
  width: 49px;
  height: 38.16px;
}
.section8-content-img {
  transition: all 1s;
}
.section8-content-img-container:hover .section8-content-img {
  transform: scale(1.1);
  cursor: pointer;
}

.section8-content-img-container:hover .section8-content-hidden {
  visibility: visible;
  cursor: pointer;
}
.section8-content-text {
  width: 100%;
  height: 75%;
  overflow: hidden;
  color: #cecece;
}
.section8-content-reaction {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #c6c6c6;
  font-size: 12px;
}
.section8-content-reaction img {
  width: 12px;
  height: 12px;
}
.section9 {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section9-container {
  max-width: 1100px;
  height: auto;
  display: flex;
}
.section9-container img {
  width: 10.9%;
  height: auto;
  margin: 0px 50px 0px 0px;
}
.section9-top {
  display: flex;
  gap: 30px;
  width: 84.54%;
  height: 25px;
  margin: 0px 0px 0px 10px;
}
.section9-top p {
  display: flex;
  gap: 5px;
}
.section9-bottom-text1 {
  width: 100%;
  height: auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: left;
  white-space: nowrap;
}
.section9-bottom-text2 {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  display: flex;
}
.section9-bottom {
  max-width: 1100px;
  height: auto;
  display: flex;
  margin: 30px 0px 0px;
  justify-content: space-between;
}
@media screen and (max-width: 950px) {
  .section-1 {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .header-text {
    display: none;
  }
  .search {
    display: none;
  }
  .header-box {
    padding: 5px 0px 0px px;
    height: auto;
    align-items: center;
  }
  .header-left {
    width: 9.4%;
  }
  .header-left img {
    width: 100%;
    padding: 10px;
  }
  .header-right {
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-container {
    width: auto;
    height: auto;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.6);
  }
  .nav-p {
    font-size: 10px;
  }
  .nav {
    width: 100%;
    height: auto;
    margin: 2px 0px 0px;
  }
  .nav img {
    width: 15px;
    height: 15px;
  }
  .nav p {
    font-size: 14px;
  }
  .nav span {
    font-size: 14px;
  }
  .section1-box1 {
    display: non;
  }
  .section1-box2 {
    display: non;
  }
  .section2 {
    max-width: 950px;
  }
  .section2-box {
    width: 100%;
  }
  .section2-content {
    width: 289px;
  }
  .section2-bottom {
    width: 289px;
  }
  .section2-img {
    object-fit: cover;
  }
  .section3-container {
    padding: 0px 30px;
  }
  .section3-box1 {
    width: 100%;
    height: auto;
  }
  .section3-header {
    display: none;
  }
  .section3-box2 {
    display: none;
  }
  .section3-box1-content {
    width: 100%;
  }
  .section3-box1-hidden-container {
    width: 29%;
    height: auto;
  }
  .section3-box1-hidden-container img {
    width: 100%;
    height: 145px;
    object-fit: cover;
  }
  .section3-box1-hidden {
    width: 100%;
    height: 145px;
  }
  .section3-box1-news {
    width: 70%;
  }
  .section4-container {
    width: 100%;
    flex-direction: column;
    min-height: 1130px;
    padding: 0px 30px;
    gap: 30px;
  }
  .section4-left {
    height: auto;
    width: 100%;
  }
  .section4-right {
    width: 100%;
    padding: 0;
  }
  .section4-right-content {
    width: 48.87%;
  }
  .section4-right-content-text {
    width: 48.87%;
  }
  .section5 {
    margin: 600px 0px 0px;
  }
  .section8 {
    padding: 50px 30px;
  }
  .section8-container {
    max-width: 890px;
  }
  .section8-content {
    width: 48.87%;
    position: relative;
  }
  .section8-content-container {
    max-width: 100%;
  }
  .section8-content-top-icon {
    justify-content: flex-start;
    margin: 0px 0px 0px -435px;
  }
  .section8-content-img {
    object-fit: cover;
    width: 100%;
  }
  .section8-content-hidden {
    width: 100%;
  }
  .section8-content-img-container {
    width: 100%;
    position: relative;
    justify-content: flex-start;
  }
}
